#start {
    position: absolute;
    top:46%;
    left:46%;
    width: 10%;
    height: 8%;
    background-color: rgb(147, 220, 244);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5vw;
    font-size: clamp(1rem, calc(2.5vw+ 1rem), 3rem);
    cursor: pointer;
    transition: 0.6s;
    animation: jumping 0.5s ease-in-out infinite alternate;
}

#start:hover {
    background-color: rgb(153, 220, 243);
    box-shadow: 0 0 150px rgb(153, 221, 243);
}

#hello {
    position: absolute;
    top: 46%;
    left: 5%;
    animation: slideleft 1.9s ease-in-out;
    font-size: clamp(0.4rem, calc(6vw + 1rem), 11rem);
}

#and {
    position: absolute;
    top: 60%;
    left: 15%;
    animation-delay: 2s;
    animation:slideleft 2s ease-in-out;
}

#littlesomething {
    font-size: clamp(0.4rem, 4vw, 5rem);
    position: absolute;
    top: 10%;
    right: 4%;

}

#container{
    position: absolute;
    top: 5%;
    right: 4%;
    width: 55%;
    height: 60%;
    background-color: rgba(255, 192, 203, 0);
}

#dark-mode {
    background-color: rgb(237, 237, 236);
    width: 7vw;
    height: 8vh;
    border-radius: 15px;
    position: absolute;
    top: 40%;
    right: 5%;
    animation: slidedown 1s ease-in-out forwards;
    transition: 0.5s;
}

#dark-mode:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 30px rgb(255, 255, 255);
}

#dark-mode.dark:hover {
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 30px black;
}

#change-background {
    background-color: rgb(251, 199, 251); 
    width: 13%;
    height: 20%; 
    position: absolute;
    top: 5%;
    right: 0%; 
    animation: slidedown 3s ease-in-out;
    border-radius: 1vw;
    transition: 0.5s;
    z-index: 1;
}

#change-background:hover {
    background-color: rgb(253, 218, 253); 
    box-shadow: 0 0 30px rgb(253, 218, 253);
}

#dot{ 
    background-color: orange;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 400px;
    left: 100px;
    animation: pop 0.5s ease-in-out;
    z-index: -10;
}

#MovementMiniGame {
    background-color: rgb(240, 107, 41);
    width: 8%;
    height: 11%;
    position: absolute;
    top: 35%;
    border-radius: 15%;
    right: 30%;
    animation: slidedown 4s ease-in-out ;
    transition: 0.5s;
}

#MovementMiniGame:hover{
    background-color: rgb(244, 129, 47);
    box-shadow: 0 0 30px rgb(238, 133, 72);
}

#moveEffect{
    background-color: rgb(81, 198, 252);
    width: 12%;
    height: 14%; 
    position: absolute;
    top: 5%;
    right: 20%; 
    animation: slideright 3s ease-in-out;
    border-radius: 1vw;
    transition: 0.5s;
    z-index: 2;
}

#moveEffect:hover{
    background-color: rgb(126, 207, 245); 
    box-shadow: 0 0 40px rgb(126, 207, 245);
}

#MovementMiniGame:hover, #change-background:hover, #dark-mode:hover, #moveEffect:hover,#divv:hover{
    scale: 1.1;
}

#divv {
    width: 12%;
    height: 17%;
    position: absolute;
    top: 0;
    left: 42%;
    background-color: rgb(243, 226, 70);
    width: 7vw;
    border-radius: 16%;
    transition: 0.5s;
    animation: slideright 2s ease-in-out;
}

#divv:hover{
    background-color: rgb(250, 220, 89);
    box-shadow: 0 0 30px rgb(232, 218, 115);
}

#target{
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 10%;
    position:absolute;
    top: auto;
    left:auto;
    display: none;
}

#SeeMore {
    background-color: lightgreen;
    width: 12%;
    height: 17%;
    position: absolute;
    top: 70%;
    right: 4%;
    border-radius: 16%;
    transition: 0.5s;
    animation: slideright 2.3s ease-in-out;
}

#SeeMore:hover{
    background-color: rgb(144, 238, 144);
    box-shadow: 0 0 30px rgb(144, 238, 144);
    scale: 1.1;
}

#hello.move, #dark-mode.move, #change-background.move, #MovementMiniGame.move, #divv.move, #SeeMore.move {
    animation: move 1s ease-in-out forwards;
}

#hello.back, #dark-mode.back, #change-background.back, #MovementMiniGame.back, #divv.back, #SeeMore.back {
    animation: back 1s ease-in-out forwards;
}

#page1 {
    background-color: rgb(7, 15, 43);
    display: none;
    opacity: 0;
    animation: slideup 2s ease-in-out forwards;
    z-index: 5;
}

#page1.show {
    display: block;
    opacity: 1;
}



#ilike{
    position: absolute; 
    top: 14%; left: 9%;
    font-size: clamp(0.5rem, 1rem, 2.4rem);
}

#PhotoShowcase{
    position: absolute;
    top: 30%;
    left: 5%;
    background-color: red;
    object-fit: cover; 
}

#PhotoShowcasecontainer{
    position: absolute;
    top: 25%;
    right: 5%;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 2vw;
    overflow: hidden;
    transition: 1s;
    cursor: pointer;
    animation: slideleft 2.4s ease-in-out;
    display: none;
}

#PhotoShowcasecontainer:hover{
    box-shadow: 0 0 20px rgb(0, 0, 0);
    scale: 1.05;
}

#minicharacter {
    width: auto; 
    height: 10vh; 
    position: absolute; 
    bottom: 3%; 
    left: 60%; 
    z-index: 2;
    display: none;
    scale: 1.5;
}


#moveEffect, #change-background, #dark-mode, #MovementMiniGame, #divv, #SeeMore{
    font-family: bungee;
    font-size: 80%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: rgba(255, 255, 255, 0);
}

#moveEffect:hover, #change-background:hover, #dark-mode:hover, #MovementMiniGame:hover, #divv:hover, #SeeMore:hover{
    color: rgb(0, 0, 0);
}

#dark-mode.light{
    background-color: rgb(34, 34, 34);
    color: white;
}

#dark-mode.light:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}

#dark-mode.darkk{
    background-color: rgb(10, 10, 10);
    color: rgba(244, 241, 241, 0);
}

#dark-mode.darkk:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}

#back{
    width: 10%;
    height: 5%;
    background-color: lightblue;
}

#hellon {
    position: absolute;
    top: 2%;
    left: 7%;
}

#boxcontainer {
    background-color: rgb(7, 15, 43);
    position: absolute;
    bottom: 0%;
    left: 10%;
    width: 80%;
    height: 8%;
    z-index: 3;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    font-size: clamp(0.2rem, calc(0.7rem + 0.8vw), 1.2rem);
    flex-wrap: wrap; /* allow wrap on smaller screens */
    gap: 5%;
    color: rgba(132, 93, 19, 0.363);
}

#boxcontainer div {

    flex-grow: 1;
    transition: background-color 0.3s, color 0.3s, flex-grow 0.6s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    font-family: bungee;
    transition: 0.8s;
}

#boxcontainer div a {
    opacity: 0;
    transition: opacity 0.5s ease;
    color: inherit;
    text-decoration: none;
    font-size: 0.8em;
    font-family: arial;
    font-size: 0.5rem;
}

#boxcontainer div:hover {
    color: white;
    flex-grow: 10;
    border-radius: 1vw;
    background-color: rgb(11, 20, 55);
    scale: 1.3;
}

#boxcontainer div:hover a {
    opacity: 1;
}





@media (max-width: 768px){
    #container{
        position: absolute;
        left: 5%;
        width: 90%;
    }

    #start{
        width: 30%;
        left: 36%;
        font-size: 1.5rem ;
    }

    #hello{
        font-size: 2.5rem;
    }

    #MovementMiniGame{
        width: 15vw;
    }

    #change-background{
        width: 15vw;
        height: 20%;
    }

    #moveEffect{
        right: 25%;
        width: 15vw;
        height: 12%;
        top: 3%;
    }

    #dark-mode{
        width: 15vw;
        height: 17%;
        right: 15%;
    }

    #MovementMiniGame{
        display: none;
    }

    #divv{
        width: 15%;
        height: 15%;
        left: 55%;

    }

    #ilike {
        top: 3%;
    }

    #moveEffect{
        display: none;
    }

    #moveEffect, #change-background, #dark-mode, #MovementMiniGame, #divv, #SeeMore{
    font-size: 50%;
    }

    #hellon {
        top: 0%;
    }



    
}





@keyframes slideleft {
    from{transform: translateX(-500%);}
    to{transform: translateX(0);}
}

@keyframes jumping {
    from{transform:translateY(-5%)}
    to{transform:translateY(5%);}
}

@keyframes slideright {
    from{transform: translateX(1000%);}
    to{transform: translateX(0);}
}

@keyframes popup {
    from{transform: scale(0); opacity: 0;}
    to{transform: scale(1); opacity: 1;}
}

@keyframes slidedown {
    from{transform: translateY(-500%);}
    to{transform: translateY(0);}
}

@keyframes start{
    from{transform: scale(1); opacity: 1;}
    50%{transform: scale(4); opacity: 1;}
    to{transform: scale(0); opacity: 0;}
}

@keyframes slideup {
    from{transform: translateY(500%);}
    to{transform: translateY(0);}
}

@keyframes pop{
    from{transform: scale(0); opacity: 0;}
    to{transform: scale(1); opacity: 1;}
}

@keyframes move {
    from{transform: translateX(0%); scale: 1;}
    50%{transform: translateX(-20%); scale: 1.4;}
    to{transform: translateX(0%); scale: 1;}
}

@keyframes back {
    from{transform: translateX(0%); scale: 1;}
    50%{transform: translateX(20%); scale: 1.4;}
    to{transform: translateX(0%); scale: 1;}
}















