@import url(Andrew.css);

#sliding1{
    position: absolute;
    right: -40%;
    top:0%;
    width: 20%;
    height: 50%;
    background-color: rgba(255, 192, 203, 0.5);
    animation: sliding1 5s ease-in-out;
    display: block;
}

@keyframes sliding1 {
    from{transform: translateX(900%);}
    to{transform: translateX(-1400%);}
}